/out/production/StackDataStructure/com/company/Main.class
/out/production/StackDataStructure/com/company/Stack.class
/out/test/StackDataStructure/com/company/StackTest.class
/out/production/StackDataStructure/com/company/LIFOStack.class
/out/test/StackDataStructure/com/company/LIFOStackTest.class
